<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first form</title>
    <link rel="stylesheet" href="/home.css">
</head>

<body>

    <h1>Student Verification Portal</h1>
    <div class="form-body">
        <form method="post" action="/user">
            <label for="for-name"> Enter your name </label>
            <div class="for-name">
                <input type="text" name="fname" placeholder="First name" required>
                <input type="text" name="mname" placeholder="Middle name">
                <input type="text" name="lname" placeholder="Last name">
            </div>

            <div class="for-email">
                <label for="for-email"> Enter your email</label>
                <input type="email" name="email" placeholder="example@gmail.com" required>
                <label for="for-email"> Enter your password </label>
                <input type="password" name="password" placeholder="********" required>
            </div>
            <div class="for-age">
                <label for="for-age"> Enter your DOB </label>
                <input type="date" name="dob" id="for-age" required>

                <label> Gender </label>

                <input class="radio" type="radio" id="for-male" name="gender" value="male">
                <label for="for-male">male</label>
                <input class="radio" type="radio" id="for-female" name="gender" value="female">
                <label for="for-female">Female</label>
                <input type="radio"class="radio" id="for-other" name="gender" value="other">
                <label for="for-other">other</label>
            </div>
            <button type="submit">submit</button>

        </form>
    </div>
    <% if (locals.exist) { %>
     
        <h2 style="color: red;">USER ALREADY EXIST</h2>
        
    <% } %>

</body>

</html>