*{
    /* background-color: aqua;
     */
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-body{
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
    border-radius: 2vw;
    background-color: transparent;

     box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.305);

    backdrop-filter:blur(50px);
   
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 2vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(10px);
    
   
}
label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
input{
    height: 3vh;
    border: none;
    outline: 1px solid black;
    padding-left:5px ;
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0.659);

}
.radio{
    border: none;
    outline: none;
}
button{
    width: 8vw;
    height: 4vh;
    border: none;
    border-radius: 2vh;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.695);
}